nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 8px;
    height:72px;  
  }
  
  nav ul{
    display:flex;
    justify-content:space-between;
    list-style: none;
    gap:30px;
    font-weight:500;
    
 
  }

  nav ul li a{
    text-decoration:none;
  }

  
  