.primary_btn
{
margin:10px auto;
padding:10px 10px;
background-color:#2ABCB3; 
color:white;
min-width:220px;
border-radius:10px;
display:flex;
justify-content:space-between;
align-items:center;
font-size:18px;
font-weight:500;
}
.outline_btn
{        
        padding:10px 10px;
        background-color:white; 
        color:grey;
        min-width:220px;
        border-radius:10px;
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:18px;
        font-weight:bolder;
        width:100%;
        
        
}

   