.contact_section h1{
    font-size:30px;
    font-weight: 800px;
    color:white;
    max-width:80%;
    
}
.contact_section p{
    font-weight:400;
    font-size: 15px;
    color: grey;

}

.contact_section{
    display:flex;
    max-width:1000px;
    flex-direction:column;
    gap:10px;
    margin-top:25px;
}
